<footer class="footer">
    <div class="footer--top">
        <nav class="footer_nav container-xxl">
           <div class="row">
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                <span class="footer_nav_title">head office</span>
                <div>
                    <span class="footer_nav_menu_text">Suite 103,</span>
                    <span class="footer_nav_menu_text">56 Opebi Road, Ikeja Lagos.</span>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                <span class="footer_nav_title">services</span>
                <ul class="footer_nav_menu">
                    <li class="footer_nav_menu_item">
                        <a href="https://apply.moneymarqueng.com/application/start" class="footer_nav_menu_link">Loans</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="" class="footer_nav_menu_link">Investments</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                <span class="footer_nav_title">our channels</span>
                <ul class="footer_nav_menu">
                    <li class="footer_nav_menu_item">
                        <a href="https://www.facebook.com/Moneymarque-Finance-Limited-100281295218633" target="_blank" rel="noreferrer" class="footer_nav_menu_link">Facebook</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="https://www.instagram.com/moneymarque.ng" target="_blank" rel="noreferrer" class="footer_nav_menu_link">Instagram</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="https://twitter.com/MoneyMarque" target="_blank" rel="noreferrer" class="footer_nav_menu_link">Twitter</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="https://www.linkedin.com/company/moneymarque-finance-limited" target="_blank" rel="noreferrer" class="footer_nav_menu_link">LinkedIn</a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                <span class="footer_nav_title">contact us</span>
                <ul class="footer_nav_menu">
                    <li class="footer_nav_menu_item">
                        <a href="tel:01-2299997" class="footer_nav_menu_link">01-2299997</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="mailto:customer@moneymarqueng.com" class="footer_nav_menu_link">customer@moneymarqueng.com</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="" class="footer_nav_menu_link" >Terms & Conditions</a>
                    </li>
                    <li class="footer_nav_menu_item">
                        <a href="" class="footer_nav_menu_link">Privacy Policy</a>
                    </li>
                </ul>
            </div>
           </div>
        </nav>
    </div>
    <div class="footer--bottom">
        <span class="text--white">© 2020</span>&nbsp;<span class="text--deep-black">Money Marque</span>&nbsp;<span class="text--white">- All Rights Reserved</span>.
    </div>
</footer>