/////////////////////colours//////////////////
// $color-primary:#258903;
// $color-primary: #d62828;
$color-primary: #252A58;
$color-secondary:#AEC233;
$color-secondary-light: lighten($color-secondary, 25);
$color-ash:#C4C4C4;
$color-white:#ffffff;
$color-grey: #818080;
$color-black:#000;
$color-deep-black:#3A3A3A;
$color-blue: #2F80ED;
$color-danger:#F20F0F;
$color-green: #28a745;
$color-yellow: #ed9f03;
$app-background: $color-ash;

/////////////////////////font size////////////////////////////

$font-size-extra-large: 32px;
$font-size-large: 22px;
$font-size-medium:18px;
$font-size-regular:14px;
$font-size-regular-alt:16px;
$font-size-semi-small: 11px;
$font-size-small: 9px;
$font-size-tiny:7px;


