<div class="about">
    <div class="hero contact-hero">
     <div class="hero-content">
        <div class="container-xxl">
            <div class="col-7 me-auto">
              <div class="d-flex flex-column">
                <h1 class="hero_title">
                    We can’t wait to hear from you
                  </h1>
              </div>
            </div>
          </div>
     </div>
    </div>
    <div class="section section--white">
      <div class="container-xxl">
       <div class="col-6">
        <ul class="list-unstyled">
            <li class="mb-3">
              <span class="text--large text--primary text--500 d-block">
                Call us
              </span>
              <a href="tel:01-2299997" class="section-paragraph">01-2299997</a>
            </li>
            <li class="mb-3">
              <span class="text--large text--500 d-block">
                Email us
              </span>
              <a href="mailto:customer@moneymarqueng.com" class="section-paragraph">customer@moneymarqueng.com</a>
            </li>
            <li>
              <span class="text--large text--500 d-block">
                Visit us
              </span>
              <div>
                <span class="section-paragraph d-block mb-2">Head Office</span>
                  <span class="section-paragraph d-block mb-2">Suite 103, First Floor</span>
                  <span class="section-paragraph d-block mb-2">56 Opebi Road, Ikeja Lagos.</span>
              </div>
            </li>
          </ul>
       </div>
      </div>
    </div>
    <div class="section section--white">
        <div class="container-xxl">
          <h2 class="section-title text--secondary">
              Contact <span class="text--600">MoneyMarque</span>
           </h2>
          <div class="mb-4">
              <form>
                <div class="mb-5">
                    <label for="nameInput" class="form-label text--medium">Your name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg text--medium" id="nameInput" placeholder="Firstname Lastname">
                  </div>
                  <div class="mb-5">
                    <label for="emailInput" class="form-label text--medium">Your email address <sup>*</sup></label>
                    <input type="email" class="form-control form-control-lg text--medium" id="emailInput" placeholder="name@email.com">
                  </div>
                  <div class="mb-5">
                    <label for="enquiryInput" class="form-label text--medium">Your enquiry</label>
                    <textarea class="form-control text--medium" id="enquiryInput" rows="10"></textarea>
                  </div>
                  <div class="py-3 mb-5 text--right">
                      <button type="button" class="button button--secondary button--lg button--wider">
                        Submit
                      </button>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>
  