<div class="about">
    <div class="hero contact-hero">
      <div class="container-xxl">
        <div class="col-7 me-auto">
          <div class="d-flex flex-column">
            <h1 class="hero_title">
                Contact Us
              </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="section section--white">
      <div class="container-xxl">
        <h2 class="section-title text--secondary">
            Locate <span class="text--600">MoneyMarque</span>
         </h2>
        <div class="mb-4">
            <nav class="footer_nav container-xxl">
                <div class="row">
                 <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                     <span class="footer_nav_title">head office</span>
                     <div>
                         <span class="footer_nav_menu_text text--primary">Suite 103,</span>
                         <span class="footer_nav_menu_text text--primary">56 Opebi Road, Ikeja Lagos.</span>
                     </div>
                 </div>
                 <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                     <span class="footer_nav_title">services</span>
                     <ul class="footer_nav_menu">
                         <li class="footer_nav_menu_item">
                             <a href="https://apply.moneymarqueng.com/application/start" class="footer_nav_menu_link text--primary">Loans</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="" class="footer_nav_menu_link text--primary">Investments</a>
                         </li>
                     </ul>
                 </div>
                 <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                     <span class="footer_nav_title">our channels</span>
                     <ul class="footer_nav_menu">
                         <li class="footer_nav_menu_item">
                             <a href="https://www.facebook.com/Moneymarque-Finance-Limited-100281295218633" target="_blank" rel="noreferrer" class="footer_nav_menu_link text--primary">Facebook</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="https://www.instagram.com/moneymarque.ng" target="_blank" rel="noreferrer"  class="footer_nav_menu_link text--primary">Instagram</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="https://twitter.com/MoneyMarque" target="_blank" rel="noreferrer" class="footer_nav_menu_link text--primary">Twitter</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="https://www.linkedin.com/company/moneymarque-finance-limited" target="_blank" rel="noreferrer" class="footer_nav_menu_link text--primary">LinkedIn</a>
                         </li>
                     </ul>
                 </div>
                 <div class="col-12 col-sm-6 col-md-3 mb-4 mb-md-1">
                     <span class="footer_nav_title">contact us</span>
                     <ul class="footer_nav_menu">
                         <li class="footer_nav_menu_item">
                             <a href="tel:01-2299997" class="footer_nav_menu_link text--primary">01-2299997</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="mailto:customer@moneymarqueng.com" class="footer_nav_menu_link text--primary">customer@moneymarqueng.com</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="" class="footer_nav_menu_link text--primary" >Terms & Conditions</a>
                         </li>
                         <li class="footer_nav_menu_item">
                             <a href="" class="footer_nav_menu_link text--primary">Privacy Policy</a>
                         </li>
                     </ul>
                 </div>
                </div>
             </nav>
        </div>
      </div>
    </div>
    <div class="section section--white">
        <div class="container-xxl">
          <h2 class="section-title text--secondary">
              Contact <span class="text--600">MoneyMarque</span>
           </h2>
          <div class="mb-4">
              <form>
                <div class="mb-5">
                    <label for="nameInput" class="form-label text--medium">Your name <sup>*</sup></label>
                    <input type="text" class="form-control form-control-lg text--medium" id="nameInput" placeholder="Firstname Lastname">
                  </div>
                  <div class="mb-5">
                    <label for="emailInput" class="form-label text--medium">Your email address <sup>*</sup></label>
                    <input type="email" class="form-control form-control-lg text--medium" id="emailInput" placeholder="name@email.com">
                  </div>
                  <div class="mb-5">
                    <label for="enquiryInput" class="form-label text--medium">Your enquiry</label>
                    <textarea class="form-control text--medium" id="enquiryInput" rows="10"></textarea>
                  </div>
                  <div class="py-3 mb-5 text--right">
                      <button type="button" class="button button--secondary button--lg button--wider">
                        Submit
                      </button>
                  </div>
              </form>
          </div>
        </div>
      </div>
  </div>
  