<div class="section section--white">
    <div class="container-xxl">
        <div class="d-flex align-items-start flex-wrap">
           <div class="col-12 col-md-3 me-auto">
            <div class="nav flex-md-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="button button--lg active justify-content-start mb-5" id="v-pills-investment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-investment" type="button" role="tab" aria-controls="v-pills-investment" aria-selected="true">Investment</button>
                <button class="button button--lg justify-content-start mb-5" id="v-pills-loans-tab" data-bs-toggle="pill" data-bs-target="#v-pills-loans" type="button" role="tab" aria-controls="v-pills-loans" aria-selected="false">Loans</button>
                <button class="button button--lg justify-content-start mb-5" id="v-pills-repayments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-repayments" type="button" role="tab" aria-controls="v-pills-repayments" aria-selected="false">Repayments</button>
              </div>
           </div>
            <div class="col-12 col-md-7">
                <div class="tab-content shadow p-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-investment" role="tabpanel" aria-labelledby="v-pills-investment-tab">
                        <div class="accordion accordion-flush" id="investmentAccordion">
                            <div class="accordion-item mb-4 mt-2 border-0">
                              <h2 class="accordion-header" id="flush-investmentHeadingOne">
                                <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentOne" aria-expanded="false" aria-controls="flush-investmentOne">
                                    What investment product does MoneyMarque have?
                                </button>
                              </h2>
                              <div id="flush-investmentOne" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingOne" data-bs-parent="#investmentAccordion">
                                <div class="accordion-body">
                                    <span class="text--regular-alt text--secondary">
                                        We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                    </span>
                                </div>
                              </div>
                            </div>
                            
                            <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingTwo">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentTwo" aria-expanded="false" aria-controls="flush-investmentTwo">
                                    What is the minimum amount i can invest ? 
                                  </button>
                                </h2>
                                <div id="flush-investmentTwo" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingTwo" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingThree">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentThree" aria-expanded="false" aria-controls="flush-investmentThree">
                                    What is the minimum tenor
                                  </button>
                                </h2>
                                <div id="flush-investmentThree" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingThree" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingFour">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentFour" aria-expanded="false" aria-controls="flush-investmentFour">
                                    If i have cash needs can i liquidate and get my funds?
                                  </button>
                                </h2>
                                <div id="flush-investmentFour" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingFour" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingFive">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentFive" aria-expanded="false" aria-controls="flush-investmentFive">
                                    How can i get my interest?
                                  </button>
                                </h2>
                                <div id="flush-investmentFive" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingFive" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingSix">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentSix" aria-expanded="false" aria-controls="flush-investmentSix">
                                    Can i get my interest upfront?
                                  </button>
                                </h2>
                                <div id="flush-investmentSix" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingSix" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingSeven">
                                  <button class="accordion-button collapsed text--large text--500 text--primary" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentSeven" aria-expanded="false" aria-controls="flush-investmentSeven">
                                    Are there any associated charges?
                                  </button>
                                </h2>
                                <div id="flush-investmentSeven" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingSeven" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                          We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 17% on your investments.
                                      </span>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-loans" role="tabpanel" aria-labelledby="v-pills-loans-tab">B</div>
                    <div class="tab-pane fade" id="v-pills-repayments" role="tabpanel" aria-labelledby="v-pills-repayments-tab">C</div>
                  </div>
            </div>
          </div>
    </div>
</div>