<div class="section section--white">
    <div class="container-xxl">
        <div class="d-flex align-items-start flex-wrap">
           <div class="col-12 col-md-3 me-auto">
            <div class="nav flex-md-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <button class="button button--lg active justify-content-start mb-5" id="v-pills-investment-tab" data-bs-toggle="pill" data-bs-target="#v-pills-investment" type="button" role="tab" aria-controls="v-pills-investment" aria-selected="true">Investment</button>
                <button class="button button--lg justify-content-start mb-5" id="v-pills-loans-tab" data-bs-toggle="pill" data-bs-target="#v-pills-loans" type="button" role="tab" aria-controls="v-pills-loans" aria-selected="false">Loans</button>
                <button class="button button--lg justify-content-start mb-5" id="v-pills-repayments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-repayments" type="button" role="tab" aria-controls="v-pills-repayments" aria-selected="false">Repayments</button>
              </div>
           </div>
            <div class="col-12 col-md-7">
                <div class="tab-content shadow p-5" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-investment" role="tabpanel" aria-labelledby="v-pills-investment-tab">
                        <div class="accordion accordion-flush" id="investmentAccordion">
                            <div class="accordion-item mb-4 mt-2 border-0">
                              <h2 class="accordion-header" id="flush-investmentHeadingOne">
                                <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentOne" aria-expanded="false" aria-controls="flush-investmentOne">
                                  What investment product does MoneyMarque have?
                                </button>
                              </h2>
                              <div id="flush-investmentOne" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingOne" data-bs-parent="#investmentAccordion">
                                <div class="accordion-body">
                                    <span class="text--regular-alt text--secondary">
                                      We have one investment product, MoneyMarque investment notes. This gives you a high yield interest of up to 18% per annum
                                    </span>
                                </div>
                              </div>
                            </div>
                            
                            <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingTwo">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentTwo" aria-expanded="false" aria-controls="flush-investmentTwo">
                                    What is the minimum amount i can invest ? 
                                  </button>
                                </h2>
                                <div id="flush-investmentTwo" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingTwo" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        The minimum amount is N200,000
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingThree">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentThree" aria-expanded="false" aria-controls="flush-investmentThree">
                                    What is the minimum tenor for MoneyMarque investment notes?
                                  </button>
                                </h2>
                                <div id="flush-investmentThree" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingThree" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        The minimum tenor is 90days
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingFour">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentFour" aria-expanded="false" aria-controls="flush-investmentFour">
                                    What are the requirements for Investments?
                                  </button>
                                </h2>
                                <div id="flush-investmentFour" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingFour" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        A duly filled and signed account opening form, indicating your desired investment deposits and tenor
                                      </span>
                                      <ul>
                                        <li class="text--regular-alt text--secondary">
                                          Documentary evidence of address (utility bill)
                                        </li>
                                        <li class="text--regular-alt text--secondary">
                                          1 Passport photograph
                                        </li>
                                        <li class="text--regular-alt text--secondary">
                                          1 Passport photograph
                                        </li>
                                      </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingFive">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentFive" aria-expanded="false" aria-controls="flush-investmentFive">
                                    What happens when I liquidate my funds before the maturity date?
                                  </button>
                                </h2>
                                <div id="flush-investmentFive" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingFive" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        You can liquidate your funds at any time, however, there is a token charged on the accrued interest.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingSix">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentSix" aria-expanded="false" aria-controls="flush-investmentSix">
                                    How can I get my interest paid?
                                  </button>
                                </h2>
                                <div id="flush-investmentSix" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingSix" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        Your interest payment can be made monthly, quarterly, annually, or upon maturity date.
                                      </span>
                                  </div>
                                </div>
                              </div>
                              <div class="accordion-item mb-4 mt-2 border-0">
                                <h2 class="accordion-header" id="flush-investmentHeadingSeven">
                                  <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-investmentSeven" aria-expanded="false" aria-controls="flush-investmentSeven">
                                    Are there extra charges?
                                  </button>
                                </h2>
                                <div id="flush-investmentSeven" class="accordion-collapse collapse" aria-labelledby="flush-investmentHeadingSeven" data-bs-parent="#investmentAccordion">
                                  <div class="accordion-body">
                                      <span class="text--regular-alt text--secondary">
                                        There are no extra or hidden charges. However, there is a statutory 10% withholding tax to be charged on the accrued interest.  
                                      </span>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-loans" role="tabpanel" aria-labelledby="v-pills-loans-tab">
                      <div class="accordion accordion-flush" id="loansAccordion">
                        <div class="accordion-item mb-4 mt-2 border-0">
                          <h2 class="accordion-header" id="flush-loansHeadingOne">
                            <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansOne" aria-expanded="false" aria-controls="flush-loansOne">
                              Who is eligible for a Loan?
                            </button>
                          </h2>
                          <div id="flush-loansOne" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingOne" data-bs-parent="#loansAccordion">
                            <div class="accordion-body">
                                <span class="text--regular-alt text--secondary">
                                  Salary earners living in Lagos, with verifiable employment details can apply for a loan. 
                                </span>
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingTwo">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansTwo" aria-expanded="false" aria-controls="flush-loansTwo">
                                How much can I borrow?
                              </button>
                            </h2>
                            <div id="flush-loansTwo" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingTwo" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    You can access a minimum of 100,000 and up to 1 million naira, However, this depends on your borrowing capacity and verifiable income level. 
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingThree">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansThree" aria-expanded="false" aria-controls="flush-loansThree">
                                What documents do I need to access a loan?
                              </button>
                            </h2>
                            <div id="flush-loansThree" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingThree" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    You’ll need to provide your bank statement of account for 6 months, passport photograph utility bill work ID, and government-issued ID
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingFive">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansFive" aria-expanded="false" aria-controls="flush-loansFive">
                                Does MoneyMarque require a credit check?
                              </button>
                            </h2>
                            <div id="flush-loansFive" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingFive" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    Yes. We carry out a credit check to determine borrowers' creditworthiness.                                   
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingSix">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansSix" aria-expanded="false" aria-controls="flush-loansSix">
                                How long does it take to process a loan?
                              </button>
                            </h2>
                            <div id="flush-loansSix" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingSix" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    It takes just 6 hours to process and disburse loans after all documents have been submitted and verified.                                    
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingSeven">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansSeven" aria-expanded="false" aria-controls="flush-loansSeven">
                                Are there hidden charges?                              
                              </button>
                            </h2>
                            <div id="flush-loansSeven" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingSeven" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    There are no hidden charges.                                    
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-loansHeadingEight">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-loansEight" aria-expanded="false" aria-controls="flush-loansEight">
                                What is an E-wallet?
                              </button>
                            </h2>
                            <div id="flush-loansEight" class="accordion-collapse collapse" aria-labelledby="flush-loansHeadingEight" data-bs-parent="#loansAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    This is a feature available to loan and investment customers to monitor, monthly repayments, make transfers, view their loan balance, and manage their accounts from anywhere.                                  
                                  </span>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-repayments" role="tabpanel" aria-labelledby="v-pills-repayments-tab">
                      <div class="accordion accordion-flush" id="repaymentsAccordion">
                        <div class="accordion-item mb-4 mt-2 border-0">
                          <h2 class="accordion-header" id="flush-repaymentsHeadingOne">
                            <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-repaymentsOne" aria-expanded="false" aria-controls="flush-repaymentsOne">
                              When is repayment due?
                            </button>
                          </h2>
                          <div id="flush-repaymentsOne" class="accordion-collapse collapse" aria-labelledby="flush-repaymentsHeadingOne" data-bs-parent="#repaymentsAccordion">
                            <div class="accordion-body">
                                <span class="text--regular-alt text--secondary">
                                  On salary day.
                                </span>
                            </div>
                          </div>
                        </div>
                        
                        <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-repaymentsHeadingTwo">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-repaymentsTwo" aria-expanded="false" aria-controls="flush-repaymentsTwo">
                                Can my repayment date be changed when I have a new employer and a new salary date?
                              </button>
                            </h2>
                            <div id="flush-repaymentsTwo" class="accordion-collapse collapse" aria-labelledby="flush-repaymentsHeadingTwo" data-bs-parent="#repaymentsAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    Yes, your repayment date can be changed. Just send the request via mail to customer@moneymarqueng.com with evidence of the change of employment.
                                  </span>
                              </div>
                            </div>
                          </div>
                          <div class="accordion-item mb-4 mt-2 border-0">
                            <h2 class="accordion-header" id="flush-repaymentsHeadingThree">
                              <button class="accordion-button collapsed text--large text--500 text--primary text--italic" type="button" data-bs-toggle="collapse" data-bs-target="#flush-repaymentsThree" aria-expanded="false" aria-controls="flush-repaymentsThree">
                                Can I make repayments before the set date?
                              </button>
                            </h2>
                            <div id="flush-repaymentsThree" class="accordion-collapse collapse" aria-labelledby="flush-repaymentsHeadingThree" data-bs-parent="#repaymentsAccordion">
                              <div class="accordion-body">
                                  <span class="text--regular-alt text--secondary">
                                    Yes, you can. Please ensure to send evidence of payment to customer@moneymarqueng.com.
                                  </span>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
            </div>
          </div>
    </div>
</div>